td {
  width: 80px;
  border: 1px solid black;
  text-align: center;
  border-color: black;
  /* #7FFF00; green for boarder color*/
}

tr {
  height: 60px;

}

h1 {
  text-align: center;
  color: white;
}
h2 {
	color: white;
	text-align: center;
}

.square {
  position: relative;
  margin: 1.66%;
}

.square:hover {
  background-color: #80827f;
}

body {
	background-color: white;
	cursor: url("https://dl2.macupdate.com/images/icons128/11396.png?d=1475850134"), auto;
}

table {
	margin: auto;
}

.squareEmpty:hover, .squareShip:hover {
	background-color: #80827f;
}
.squareHit {
	background-color: green;
}
.squareMiss {
	background-color: red;
}
